html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-style: italic;
  font-size: 3.5em;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button {
  background-color: red;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-header {
  font-weight: bolder;
}

body {
  background-color: bisque;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playing-field {
  margin: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}
