html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-style: italic;
  font-size: 3.5em;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options button {
  background-color: red;
  cursor: pointer;
}

.scores {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-header {
  font-weight: bolder;
}

body {
  background-color: bisque;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playing-field {
  margin: 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  flex: auto;
  color: red;
}

input {
  width: 50px;
}

#play {
  border-radius: 30px;
  color: blue;
}

#replay-button {
  background-color: aquamarine;
  border-radius: 10px;
  font-weight: bold;
  height: 40px;
  display: none;
}

#game-results {
  font-weight: bold;
  font-style: italic;
  margin: 5px;
}