html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blue;
  font-style: italic;
  font-size: 3.5em;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
